html,body{
	background: #FFF;
}
.list-time {
	font-size: 12px;
	float: right;
	color: #8f8f94;
}

.list-nickname{
	font-weight: 600;
}

.mui-title{
	font-size: 23px;
	color: #FFF;
}

.mui-bar{
	background: #000;
}
.mui-content{
	margin: 0;
	padding: 0;
}


.mui-input-clear.mui-indexed-list-search-input{
	margin:15px 5px;
	border-radius: 5px;
	border: 1px solid gainsboro;
	background: #FFF;
	width:97%
}

